@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

div, button, canvas:focus {
    outline:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#text {
    white-space: pre-wrap;
}

canvas:active {
    cursor: grabbing;
}

button,input:hover {
    cursor: pointer;
}

div {
    cursor: default;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a09f9f;
}

.redColor {
    border-color: red;
}

.tomatoColor {
    background-color: tomato;
}

.selected {
    background-color: rgba(46, 45, 45, 0.95)!important;
}


/*home*/

#homeOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh + 5000px);
    background-color: rgb(0, 0, 0);
    opacity: 1;
    z-index: 100;
    transition: 2s;
}

#homeRender {
    position: fixed;
    top: 0;
    left: 0;
}

#homeScroll {
    position: relative;
    color: white;
    z-index: 10;
    width: 100vw;
    height: calc(100vh + 5000px);
}

.homeText {
    color: white;
    z-index: 5;
    position: fixed;
    top: 40vh;
    text-align: left;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
    text-shadow: 2px 2px 10px rgb(150, 150, 150);
    transition: 500ms;
    opacity: 0;
}

.homeText.appear {
    opacity: 1;
    transform: translate(0, 0);
}


.t1 {
    left: 13vw;
}
.t2 {
    right: 15vw;
}
.t3 {
    left: 10vw;
}
.t4 {
    right: 3vw;
}
.t5 {
    left: 10vw;
}

.homeArrow {
    color: white;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    z-index: 5;
    position: fixed;
    bottom: 12px;
    left: 48vw;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    transition: 300ms ease-in-out;
    padding-bottom: 2.1px;
    width: 4vmax;
    height: 3vmin;

    opacity: 1;
    transform: translate(0, 0);
}

.homeArrow.frombottom {
    opacity: 0;
    transform: translate(0, 30px);
}

.homeArrowImg {
    width: 2.25vmin;
}

#homeArrowText {
    font-size: 1.75vmin;
}

/*indoor*/

.indoor {
    display: none;
}


/*description*/

.description {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    overflow : hidden;
    width: 80vw;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    z-index: 11;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
}

#description {
    overflow-x: hidden;
    padding-bottom: 30px;
}

.description.active {
    transform: translate(-50%, -50%) scale(1);
}

#heading {
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    margin: 2vh;
    margin-bottom: 0px;
    padding-bottom: 1vh;
    margin-top: 1vh;
    padding-top: 1vh;
    border-bottom: 1px #d3d3d3 solid;
    justify-content: space-between;
    align-items: center;
}

#headingContainer {
    display: flex;
    flex-direction: column;
}

.headingTitle {
    color: #333333;
    font-weight: bold;
    display: flex; 
    align-items: center; 
    text-align: left;
    -webkit-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

#headingSubtitle {
    font-size: 4vh;
}

#headingTitle {
    font-size: 5vh;
}

.container-bottoni {
    display: flex;
    flex-direction: row;
}

.body-desc {
    width: 90%;
    height: 64vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 3vh;
    align-content: center; 
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    text-align: justify;
    overflow-x: hidden;
}


#text5 {
    padding-right: 10px;
    overflow-x: hidden;
}

.text {
    width: 100%;
    height: 63vh;
    padding: 1vh;
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
    float: none;
}

.image-container {
    margin: 1vh;
    width: 30%;
    max-height: 60vh;
    margin-left: 20px;
    margin-right: 0px;
    float: right;
}

#img {
    max-width: 100%;
    max-width: 100%;
    height: auto;
    width: 100%;
    padding: 0px;
}

.poster1 {
    width: 100%;
    height: 100%;
    box-shadow: 0px 16px 10px -8px rgba(110, 110, 110, 0.4);
    transition: all 300ms ease-in-out;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
}

.poster1:hover {
    transform: translate(0,-7px);
    box-shadow: 0px 32px 20px -15px rgba(110, 110, 110, .2);
}

#backDescription {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 9;
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0; left: 0; right: 0; bottom: 0;
    pointer-events: none;
    cursor: default;
}

#backDescription.active {
    opacity: 1;
    pointer-events: all;
}

#autori {
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    color: rgb(122, 122, 122);
}

#autore-descrizione, #autore-audio {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

@media (min-width: 10px) and (orientation:portrait) {

    .description {
        overflow: scroll;
    }
    
    #heading {
        padding-bottom: 2vh;
    }

    #headingContainer {
        flex-direction: column;
    }
    
    #headingSpace {
        display: none;
    }

    .body-desc {
        flex-direction: column;
        margin-bottom: 0px;
        overflow-y: auto;
    }
    
    .text {
        width: 95%;
        height: auto;
        padding-top: 20px;
        overflow-y: visible;
        padding-right: 0;
        padding-left: 1vw;
    }
    
    #headingSubtitle {
        font-size: 4vw;
    }
    
    #headingTitle {
        font-size: 5vw;
    }

    .close {
        font-size: 5vw;
    }
    
    .play {
        font-size: 3.8vw;
    }

    .stop {
        font-size: 3.8vw;
    }
    
    #img {
        height: auto;
        width: auto;
        box-shadow: 0px 16px 10px -8px rgba(110, 110, 110, 0.4);
    }
    
    .image-container {
        margin: auto;
        width: 100%;
        padding-bottom: 2vh;
        max-height: 100%;
    }

    .poster1 {
        box-shadow: none;
    }
    
    .poster1:hover {
        transform: none;
        box-shadow: none;
    }

}

/*buttons*/

.fa-times {
    transition: 0.52s ease-in-out;
}

.fa-times:hover {
    color: #e9e9e9;
}

.fa-stop {
    transition: 0.52s ease-in-out;
}

.fa-stop:hover {
    color: #e9e9e9;
}

.fa-play {
    transition: 0.52s ease-in-out;
}

.fa-play:hover {
    color: #e9e9e9;
}

.close {
    width: 4vw;
    height: 4vw;
    font-size: 5.3vh;
    color: #a09f9f;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    background: none;
    border: none;
    margin: none;
}

.stop {
    width: 4vw;
    height: 4vw;
    font-size: 3.8vh;
    color: #a09f9f;
    display: none; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    background: none;
    border: none;
    margin: none;
}

.play {
    width: 4vw;
    height: 4vw;
    font-size: 3.8vh;
    color: #a09f9f;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    background: none;
    border: none;
    margin: none;
}

@media (min-width: 10px) and (orientation:portrait) {
    .close, .stop, .play {
        width: 4vh;
        height: 4vh;
    }
}

.langButton {
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center;
    background: none; border: none;
}

.darkModeButton {
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center;
    background: none; border: none;
    color: white;
}

#darkMode {
    display: none;
}

#rightButton {
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: row;
    z-index: 10;
    position: fixed;
    background: none; border: none;
    right: 7px;
    bottom: 12px;
}

.contactsButton {
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center;
    z-index: 10;
    position: fixed;
    left: 7px;
    bottom: 12px;
    background: none; border: none;
    color: white;
}

.backHomeButton {
    display: none; align-items: center; text-align: center; align-content: center; justify-content: center;
    z-index: 10;
    position: fixed;
    left: 7px;
    bottom: 12px;
    background: none; border: none;
    color: white;
}


@media (min-width: 10px) and (orientation:landscape) {
    .homeImg, .langImg {
        width: 4vh;
        height: 4vh;
    }

    .contactsButton, .langButton, .backHomeButton, .darkModeButton {
        font-size: 4vh;
    }
}

@media (min-width: 10px) and (orientation:portrait) {
    .homeImg, .langImg {
        width: 4vw;
        height: 4vw;
    }

    .contactsButton, .langButton, .backHomeButton, .darkModeButton {
        font-size: 4vw;
    }
}


.bottone {
    width: 100px;
    height: 100px;
}


.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* open contacs modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
    z-index: 20;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    z-index: 19;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.80);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.titolo-desc {
    border-bottom: 1px solid gray;
    font-size: 4vh;
    width: 100%;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    transition: 200ms ease-in-out;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1vh;
    padding-top: 1vh;
    height: 6vh;
    z-index: 69;
}

.modalBody {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.school-part {
    /*background-color: #f2f3f9;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#span-title-text {
    border-bottom: black solid 1px;
    width: 30%;
    margin-left: 10px;
    margin-bottom: 1.5vh;
}

.text-school {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.title-text {
    font-size: 3vh;
    text-align: left;
    padding: 10px;
    font-weight: 400;
    font-weight: bold;
}

.text-description-school {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.4vh;
    margin-bottom: 2vh;
}

.text-description-school2 {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.8vh;
    margin-bottom: 3vh;
    color: rgb(63, 63, 63);
}

.button-school {
    width: 30%;
    font-size: 2vh;
    border: 1px solid rgb(75, 74, 74);
    padding: 5px;
    margin: auto;
    margin-top: 4vh;
}

.image-container2 {
    width: 30%;
    height: auto;
    margin: 5%;
}

.poster2 {
    width: 100%;
    height: 100%;
    box-shadow: 0px 16px 10px -8px rgba(110, 110, 110, 0.4);
    transition: all 300ms ease-in-out;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
}

.poster2:hover {
    transform: translate(0,-7px);
    box-shadow: 0px 32px 20px -15px rgba(110, 110, 110, .2);
}

.poster2 img {
    width: 100%;
    height: 100%;
}

.credits-part {
    width: 90%;
    margin: auto;
}

.adjust-credits {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credits-card {
    height: 40vh;
    border-radius: 9px;
    width: 30%;
    background-color: #111;
    border: black 1px solid;
    box-shadow: 0px 16px 10px -8px rgb(110 110 110 / 40%);
}

.credits-cardx2 {
    height: 40vh;
    border-radius: 9px;
    width: 65%;
    background-color: #111;
    border: black 1px solid;
    box-shadow: 0px 16px 10px -8px rgb(110 110 110 / 40%);
}

.credits-card-title {
    margin: auto;
    width: 90%;
    margin-top: 2vh;
    text-align: left;
    border-bottom: solid 1px white;
    font-size: 3vh;
}

.credits-card-description {
    margin: auto;
    width: 90%;
    margin-top: 2vh;
    text-align: left;
    font-size: 2.4vh;
    text-align: justify;
}

.credits-card-description p {
    font-size: 2.2vh;
}

.half-credits-card {
    width: 45%;
    margin: 0;
}

.half-credits-card ul {
    width: 100%;
}

.contact-us {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-us-title {
    margin: auto;
    border-bottom: black solid 1px;
    width: 60%;
    font-size: 4vh;
    text-align: left;
    padding: 10px;
    font-weight: 400;
    font-weight: bold;
}

.contact-us-desc {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.button-feedback {
    margin-top: 1vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 36vh;
}

.button-feedback button {
    margin-bottom: 1vh;
    height: 7vh;
    font-size: 2vh;
    border: none;
    width: 70%;
    background-color: #111;
    color: white;
    transition: .2s ease-in-out;
}

.button-feedback button:hover {
    background-color: rgba(17, 17, 17, 0.95);
}

#indietro-crediti {
    background-color: tomato;
}

#indietro-crediti:hover {
    background-color: rgb(255, 86, 56);
}

#indietro-crediti-feedback {
    background-color: tomato;
}

#indietro-crediti-feedback:hover {
    background-color: rgb(255, 86, 56);
}

.domande {
    margin: auto;
    width: 90%;
    text-align: left;
}

.sottotitolo-domande {
    font-size: 2vh;
    border-bottom: #111 solid 1px;
    margin-bottom: 0.5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 90%;
    text-align: left;
}

.sottotitolo-domande-form {
    font-size: 2vh;
    border-bottom: #111 solid 1px;
    margin-bottom: 0.5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2vh;
}

.riga-domande {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

.riga-domande button {
    height: 4vh;
    border-radius: 10%;
    border: none;
    width: 18%;
    transition: .2s ease-in-out;
}

.riga-domande button:hover {
    background-color: rgb(179, 175, 175);
}

.button-active {
    background-color: #32a852!important;
}

.form-wrapper {
    width: 98%;
}

.form-wrapper textarea {
    overflow: auto;
    width: 100%;
    height: 10vh;
    resize: none;
}
 
.form-wrapper textarea:focus {
    outline: none;
}

.form-wrapper input {
    overflow: auto;
    width: 100%;
    height: 3vh;
    resize: none;
}
 
.form-wrapper input:focus {
    outline: none;
}

.invia {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.invia button {
    color: white;
    height: 4vh;
    border-radius: 10%;
    border: none;
    width: 20%;
    background-color: #111;
    transition: .2s ease-in-out;
}

.invia button:hover {
    background-color: rgba(17, 17, 17, 0.95);
}

#form-testo {
    position: relative;
    height: 36vh;
    transform: translate(100%, 0);
    background-color: white;
    width: 100%;
    max-width: 100%;
    transition: 0.5s;
    display: flex;
}

#feedback-form {
    position: relative;
    bottom: 36vh;
    height: 36vh;
    transform: translate(0, 0);
    background-color: white;
    width: 100%;
    max-width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.questions-part {
    width: 50%;
    height: 36vh;
    margin-top: 1vh;
}

.extremis {
    position: relative;
    width: 100%;
    height: 36vh;
    margin-top: 1vh;
    bottom: 73vh;
    z-index: 70;
    background-color: white;
    transition: 0.5s;
    transform: translate(100%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imageServer {
    height: 20vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.extremis2 {
    position: relative;
    width: 100%;
    height: 36vh;
    margin-top: 1vh;
    bottom: 110vh;
    z-index: 71;
    background-color: white;
    transform: translate(100%, 0);
}

.feedback-wrapper {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.feedback-wrapper button {
    margin-bottom: 1vh;
    height: 5vh;
    font-size: 2vh;
    border: none;
    width: 70%;
    background-color: #32a852;
    color: white;
    transition: .2s ease-in-out;
}

.feedback-wrapper button:hover {
    background-color: #111;
}

#indietro-crediti {
    background-color: tomato;
}

#indietro-crediti:hover {
    background-color: rgb(255, 86, 56);
}

#indietro-crediti-feedback {
    background-color: tomato;
}

#indietro-crediti-feedback:hover {
    background-color: rgb(255, 86, 56);
}

.icon-wrapper {
    width: 30%;
    margin: auto;
    margin-top: 1vh;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.fa-github {
    color: white;
    transition: 0.2s ease-in-out;
    margin-bottom: 1vh;
}

.fa-github:hover {
    color: #2e9449;
}

.git-wrap div {
    font-size: 1.5vh;
}


footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-contnent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-contnent h1 {
    font-family: "Lobster", cursive;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}


.footer-contnent p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: rgb(8, 8, 8);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    opacity: 0.4;
    font-weight: 200;
}

.button-container {
    width: 50%;
    height: 50px;
    margin: auto;
    text-align: center;
}

.button-container a {
    position: relative;
    display: inline-block;
    padding: 15px 50px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    font-size: 24px;
    transition: 0.2s;
}

.button-container a span {
    position: absolute;
    display: block;
}

.button-container a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#383838);
}

.button-container a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.button-container a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#383838);
}

.button-container a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.button-container a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#383838);
}

.button-container a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button-container a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg,transparent,#383838);
}

.button-container a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.itiswhatitis {
    flex-direction: row; 
    display: flex; 
    justify-content: space-between;
}

.itiswhatitis-child {
    max-width: 33%;
}

.names-x2 {
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vh;
}

.names-x2 ul {
    padding-inline-start: 25px
}

.margin10per {
    margin-right: 10%;
}

#textServer {
    margin-top: 0;
}

@media only screen and (max-height: 850px) and (min-width: 1200px){
    .names-x2 {
        font-size: 1vw!important;
    }
}

@media only screen and (max-height: 750px) and (min-width: 1200px){
    .names-x2 {
        font-size: 2vh!important;
    }
}

@media only screen and (max-height: 510px) and (min-width: 1200px){
    .names-x2 {
        font-size: 3vh!important;
    }
}

@media only screen and (min-width: 1400px) {
    .title-text {
        margin-top: 4vh;
    }

    .poster2 {
        height: auto;
    }

    .image-container2 {
        width: 25%;
    }
}


@media only screen and (max-width: 1300px) {
    .credits-card-description {
        font-size: 2.2vh;
    }

    .credits-card-description p {
        font-size: 2vh;
    }

    .names-x2 {
        font-size: 1.8vh;
    }
}

@media only screen and (max-width: 1200px) {
    .credits-card-description {
        font-size: 2vh;
    }

    .credits-card-description p {
        font-size: 1.9vh;
    }

    .names-x2 {
        font-size: 1.7vh;
    }
}

@media only screen and (max-width: 1100px) {
    .credits-card-description {
        font-size: 1.4vw;
    }

    .credits-card-description p {
        font-size: 1.4vw;
    }

    .names-x2 {
        font-size: 1.2vw;
    }

    .credits-cardx2 {
        height: 30vh;
    }

    .credits-card {
        height: 30vh;
    }

    .text-school {
        width: 70%;
    }

    .image-container2 {
        width: 20%;
    }

    .poster2 {
        height: auto;
    }
}

@media only screen and (max-width: 1100px) {
    .text-description-school2 {
        font-size: 1.4vh;
    }

    .text-description-school {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 1000px) {
    .school-part {
        flex-direction: column-reverse;
    }

    .margin10per {
        margin-right: 0%;
    }

    .image-container2 {
        display: none;
    }

    .text-school {
        width: 100%;
    }

    .adjust-credits {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .credits-card {
        margin-top: 2vh;
        width: 50%;
        height: 30vh;
    }

    .credits-cardx2 {
        height: 35vh;
        width: 80%;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .credits-card-description {
        font-size: 1.8vw;
    }

    .credits-card-description p {
        font-size: 1.8vw;
    }

    .names-x2 {
        font-size: 1.6vw;
    }
}

@media only screen and (max-width: 860px) {
    .contact-us-title {
        width: 80%;
    }

    .contact-us-desc {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .credits-card {
        width: 95%;
    }

    .credits-cardx2 {
        width: 95%;
    }

    .credits-card-description {
        font-size: 18px;
    }

    .credits-card-description p {
        font-size: 16px;
    }

    .names-x2 {
        font-size: 16px;
    }

    .contact-us-title {
        width: 90%;
    }

    .contact-us-desc {
        width: 90%;
    }

    ul {
        padding-inline-start: 20px;
    }
}

@media only screen and (max-width: 780px) {
    .names-x2 {
        font-size: 14px;
    }
}

@media only screen and (max-height: 850px) {
    .names-x2 {
        font-size: 1.4vw;
    }

    .credits-card {
        height: 40vh;
    }

    .credits-cardx2 {
        height: 40vh;
    }
}

@media only screen and (max-height:500px) {
    .credits-card {
        height: 60vh;
    }

    .credits-cardx2 {
        height: 60vh;
    }
}

@media only screen and (max-height:660px) {
    .text-description-school {
        font-size: 1.4vw;
    }

    .text-description-school2 {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 710px) {
    ul {
        padding-inline-start: 10px;
    }

    .credits-card {
        height: 30vh;
    }
}

@media only screen and (max-width: 700px) {
    .contact-us-desc {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-feedback {
        width: 80%;
        height: 20vh;
    }

    .questions-part {
        width: 80%;
    }
/*
    .credits-card-description {
        font-size: 10px;
    }

    .credits-card-description p {
        font-size: 12px;
    }*/

    .button-container {
        width: 90%;
    }

    .button-container a {
        font-size: 18px;
    }

    .credits-cardx2 {
        height: auto;
    }

    .names-x2 {
        flex-direction: row;
        width: 90%;
        margin: auto;
    }

    .margin10per {
        margin-right: 0;
    }

    .itiswhatitis {
        flex-direction: column;
    }
    
    .itiswhatitis-child {
        max-width: 90%;
    }
    
}

@media only screen and (max-width: 500px) {
    .names-x2 {
        font-size: 12px;
    }
}

@media only screen and (max-height: 750px) {
    .credits-card-description {
        font-size: 1.2vw;
    }

    .names-x2 {
        font-size: 1.2vw;
    }
}

@media only screen and (max-height: 750px) and (max-width: 500px) {
    .credits-card-description {
        font-size: 2vh;
    }

    .text-description-school2 {
        font-size: 1.6vh;
    }
}

@media only screen and (max-height: 600px) and (max-width: 350px) {
    .credits-card-description {
        font-size: 14px;
    }

    .credits-card-description p {
        font-size: 12px;
    }
}

@media only screen and (max-height: 700px) and (max-width: 300px) {
    .credits-card-description {
        font-size: 12px;
    }

    .credits-card-description p {
        font-size: 12px;
    }

    .button-container a {
        font-size: 13px;
    }
}


 /*noscript*/

.noscript {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    font-size: 3vw;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex; align-items: center; text-align: center; align-content: center; justify-content: center; flex-direction: column;
    font-family: 'Sora', sans-serif;
}

#noscript-space {
    width: 100vw;
    height: 15px;
}